/* Styling for the Homepage */
.homepage-grid  {
    text-align: center;
}
.avatar-img {
    height: 250px;
    padding-top: 5em;
}
.link-name {
    font-size: 1.1rem;
    font-weight: bold;
}
.banner-text {
    background-color: black;
    opacity: .8;
    width: 85%;
    margin: auto;
    border-radius: 10px;
}
.banner-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.banner-text hr {
    border-top: 5px dotted white;
    width: 65%;
    margin: auto;
}
.banner-text p {
    font-size: 20px;
    color: white;
    padding: 1em;
}
.social-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}
.social-links i {
    color: white;
    font-size: 3em;
    padding: 8px;
}
/* Styling for the About Me Page */
.paragraph {
    padding-left: 6rem;
    padding-right: 6rem;
    text-align: center;
    font-weight: 600;
    ;
}
.about-page h1 {
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
}
/* Styling for the Resume Page */
.resume-right-col {
    background: #27221f;
    color: white;
    padding-left: 2em;
    padding-top: 1em;
}
.side-bar-p {
    margin-bottom: 10px;
}
.resume-left-col h6 {
    margin-bottom: 0px;
    margin-top: 0.5px;
}
.language-h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.resume-right-col h5 {
    margin-bottom: 8px;
    margin-top: 12px;
}
h6 {
    margin-top: 8px;
    margin-bottom: 0px;
}
/*Styling for Education Component*/
#education-grid {
    padding: 0px;
}
/* Styling for WorkExperience Component*/
#workExperience-grid ul {
    margin: 0px;
}
#workExperience-grid {
    padding: 0px;
}
/*Styling for Skills Component*/
#skills-grid {
    padding: 0px;
}
/* Styling for the Projects Page */