/* Styling for the App */
.background-app {
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
/* Styling for the Homepage */
.homepage-grid  {
    text-align: center;
}
.avatar-img {
    height: 250px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#basic-navbar-nav {
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
    background: url('http://www.getmdl.io/assets/demos/transparent.jpg') center / cover
}
.banner-text {
    background-color: black;
    opacity: .8;
    width: 85%;
    margin-top: auto;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.banner-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.banner-text hr {
    border-top: 5px dotted white;
    width: 65%;
    margin: auto;
}
.banner-text p {
    font-size: 20px;
    color: white;
    padding: 1em;
} 
.social-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    color: white;
    font-size: 3em;
    padding: 8px;
} 

/* Styling for the About Me Page */
.paragraph {
    text-align: center;
    font-weight: 600;
    font-size: 2vmax;
    margin: 1vmax 3vw ;
    padding: 0em 1em 0em 1em;
}
.about-page h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4vmax;
    padding-top: 1em;
}

/* Styling for the Resume Page */
.resume-right-col {
    background: #27221f;
    color: white;
    padding-left: 2em;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 1em;

}
.side-bar-p {
    margin-bottom: 10px;
}
.resume-left-col h6 {
    margin-bottom: 0px;
    margin-top: 0.5px;
}
.language-h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.resume-right-col h5 {
    margin-bottom: 8px;
    margin-top: 12px;
} 
h6 {
    margin-top: 8px;
    margin-bottom: 0px;
}

/*Styling for Education Component*/
#education-grid {
    padding: 0px;
}
#education-grid p {
    margin: 0px;
}

/* Styling for WorkExperience Component*/
#workExperience-grid ul {
    margin: 0px;
}
#workExperience-grid {
    padding: 0px;
}
/*Styling for Skills Component*/
#skills-grid {
    padding: 0px;
}

/* Styling for Certificates Component*/
#certificate-grid {
    padding: 0px;
}
#certificate-grid p {
    margin: 0px;
}
/* Styling for the Contact Me Page */
#contactMe-grid {
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    color: white;
    margin: 3em;
}
.icon-list i {
    font-size: 40px;
    padding-right: 10px;
}
#icon {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
#icon a {
    text-decoration: none;
    padding-left: 10px;
}
/* Styling for the Projects Page */
